<div class="section">
  <img class='content-img' src={{photo.src}} >
  <h3 class='caption'>{{photo.caption}}</h3>
  <p class='num-comments'>Comments: {{photo.num_comments}}</p>
  {{#each comments as |comment|}}
    <div class='comment'>
      <h6>{{comment.name}}</h6>
      <p class='comment-body'>{{comment.body}}</p>
      <button class='float-right' onclick={{action "deleteComment" comment.id}}>Delete</button>
    </div>
  {{else}}
    <div class='comment'>No Comments</div>
  {{/each}}
  <form class='comment' onsubmit={{action "postComment"}}>
    <h6>New Comment</h6>
    <p>
      Name:
      {{input type=text value=name}}
    </p>
    {{textarea class='comment-body' rows=2 value=body}}
    <button class='float-right' type=submit>Post</button>
  </form>
</div>

{{yield}}
