<div class="content">
  <h1 class="heading">Contact</h1>

  <form class="first section" onsubmit={{action "sendMsg"}}>
    <p class="d-inline-block">
      Name:
      {{input id='name-input' type=text}}
    </p>
    <p class="d-inline-block pl-3">
      Email:
      {{input id='email-input' type=text}}
    </p>
    <p>Message:</p>
    <p>
      {{textarea id='message-input' rows=5}}
    </p>
    <button type=submit>Send Message</button>
  </form>

  {{#if sentMessage}}
    <div class="section">
      <h5>Message Sent!</h5>
      <p id='contact-info'>From {{name}}, {{email}}:</p>
      <p id='message'>{{message}}</p>
    </div>
  {{/if}}
</div>
